<!DOCTYPE html>
<html lang="pt-BR">

<%- include('parts/page-head', { title : 'Contato', linkCSS : 'css/contato.css', linkCSS2 : '', linkCSS3 : ''}) %>
<script src="/script/mask.js"></script>

<body>
    
<%- include('parts/page-header') %>

    <div class="container contato">

        <div class="content-contato">

            <h2 class="title ctt">Faça seu Pedido</h2>
            
            <form id="contato" action="/contato" method="POST" >
                
                <h2 class="sub info">-- Informações pessoais --</h2>

                <% if(sucesso == 2){ nomeC = '', email = '', cpfF = '', dataN = '', 
                cep = '', estado = '', cidade = '', bairro = '', rua = '', numero = '' %>
                <p class="sucesso one">Pedido cadastrado com Sucesso! Um email foi enviado para você! <p class="sucesso">Não esqueça de olhar o Spam :)</p> </p> 
                <% } %>

                <div id="erros"><% erros.forEach(erro => { %><a>* <%= erro.texto %></a><% }) %></div>

                <div class="cont i">

                    <ul class="separator pessoais">

                        <% if(nomeC === ' '){ nomeC = 'undefined' }%>

                        <li><label for="nome-completo">Nome Completo</label>
                        <input placeholder="Ex.: João da Silva" name="nomeCompleto" type="text" maxlength="30" value="<%=nomeC%>" ></li>
                        
                        <li><label for="email">Email</label>
                        <input placeholder="Ex.: joaosilva@gmail.com" name="email" type="email" value="<%=email%>" ><a id="emailValido">* Digite um email válido</a></li>
                        
                        <li><label for="cpf">CPF</label>
                        <input onInput= "mask(this, 'cpf')" id="cpf" type="text" placeholder="Ex.: 12312312312"  name="cpf" maxlength="11" value="<%=cpfF%>"></li>
                        
                        <li><label for="data-nasc">Data de Nascimento</label>
                        <input onInput= "mask(this, 'data')" id="data-nasc" type="text" placeholder="Ex.: 01/10/1999"  name="dataNasc" value="<%=dataN%>">  

                    </ul>
                    
                    <ul class="separator endereco">

                        <li><label for="cep">CEP</label>
                        <input onInput="mask(this, 'cep')" id="cep" type="text" placeholder="Ex.: 13272200"  name="cep" maxlength="8" value="<%=cep%>"></li>
                        
                        <li><label for="estado">Estado</label>
                        <select id="estado" name="estado">

                            <option value="AC">Acre</option>
                            <option value="AL">Alagoas</option>
                            <option value="AP">Amapá</option>
                            <option value="AM">Amazonas</option>
                            <option value="BA">Bahia</option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espírito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraíba</option>
                            <option value="PR">Paraná</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Piauí</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="RO">Rondônia</option>
                            <option value="RR">Roraima</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SP">São Paulo</option>
                            <option value="SE">Sergipe</option>
                            <option value="TO">Tocantins</option>

                        </select>
                        
                        <li><label for="cidade">Cidade</label>
                        <input placeholder="Ex.: Jundiaí" name="cidade" type="text" value="<%=cidade%>"></li>
                        
                        <li><label for="bairro">Bairro</label>
                        <input placeholder="Ex.: Santo Antônio" name="bairro" type="text" value="<%=bairro%>"></li>
                        
                        <li><label for="rua">Rua</label>
                        <input placeholder="Ex.: Rua das rosas" name="rua" type="text" value="<%=rua%>" ></li>
                        
                        <li><label for="numero">Número</label>
                        <input placeholder="Ex.: 128" name="numero" type="text" value="<%=numero%>"></li>                 

                    </ul>

                </div>

                <div class="hr"></div>

                <h2 class="sub">-- Escolha aqui seu plano de viagem --</h2>

                <div class="cont ii">  

                    <div class="planos">

                        <div class="plano i">
                            <div class="label">
                                <label for="planoi"></i>Cancún - México</label>
                                <input type="radio" class="check" name="check" id="planoi"  value="cancun">
                            </div> 

                            <div class="contt">
                                <p>Ida e volta + 30 dias + Hotel 5 estrelas</p> <p>
                                Cancún, uma cidade mexicana situada na Península de Iucatã, 
                                na costa do Mar do Caribe, é conhecida por suas praias, 
                                seus vários resorts e sua vida noturna. </p>
                                <p class="valor">Aeroméxico - R$ 3079,99</p>
                            </div>

                        </div>

                        <div class="plano ii">

                            <div class="label">
                                <label for="planoii">Paris - França</label>
                                <input type="radio" class="check" name="check" id="planoii" value="paris">
                            </div>

                            <div class="contt">
                                <p>Ida e volta + 25 dias + Hotel 4 estrelas</p>
                                <p>Centro mundial de arte, moda, gastronomia e cultura. 
                                Sua paisagem urbana é cortada por avenidas largas 
                                e pelo rio Sena. A cidade é 
                                conhecida por monumentos como a Torre Eiffel e a Catedral de
                                Notre-Dame.</p>
                                <p class="valor">Latam - R$ 3590,00</p>
                             </div>
        
                        </div>

                        <div class="plano iii">
                            
                            <div class="label">
                                <label for="planoiii"></i>Nova Iorque - EUA</label>
                                <input type="radio" class="check" name="check" id="planoiii" value="ny">
                            </div>

                            <div class="contt">
                                <p>Ida e volta + 23 dias + Hotel 4 estrelas</p>
                                <p>Entre seus pontos emblemáticos, destacam-se arranha-céus, 
                                como o Empire State Building, e o enorme Central Park. O teatro da 
                                Broadway fica em meio às luzes de neon da Times Square.</p>
                                <p class="valor">United Air - R$ 3490,99</p>
                            </div>
                            
                        </div>

                    </div>

                    <div class="div-termos">
                        <label for="termos" class="termos">
                            Li e concordo com os <a href="/termos" class="a-termos" target="_blank">Termos & Condições</a> 
                        </label>
                        <input type="checkbox" id="termos" name="termos">
                    </div>


                </div>


                <button type="submit" class="submit"> <i class="far fa-check-circle">Ok</i> </button>

            </form>
            
        </div>


    </div>

<%- include('parts/footer') %>

</body>

</html>
