<!DOCTYPE html>
<html lang="pt-BR">

<%- include('parts/page-head', { title : 'Suporte', linkCSS : 'css/suporte.css', linkCSS2 : '', linkCSS3 : ''}) %>

<body>

    <%- include('parts/page-header', { }) %>
<div class="container suporte">

    <div class="content-suporte">

        <h2 class="title">Suporte ao usuário</h2>

        <p>Aqui você pode relatar um problema, ou alguma mudança que queira fazer no seu pedido</p>

    <div id="erros"><% erros.forEach(erro => { %> <a>* <%= erro.texto %></a> <% })%></div>

    <% if(sucesso == 2){ emailS = '', sup = '' %> <p id="sucesso">Suporte enviado com sucesso!</p> <% }%> 

    <form id="sup" action="" method="post">


        <div><label for="email">Seu Email: </label>
        <input type="email" name="email" id="email" value="<%=emailS%>"></div>
        
        <textarea  placeholder="Digite aqui..." name="sup" maxlength="1428"><%=sup%></textarea>

        <button type="submit" class="submit"> <i class="far fa-check-circle"></i> </button>

    </form>
    </div>

</div>
    

</body>

</html>




