<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar pedido</title>
</head>
<body>
    
     <h4>Editar pedido de <%= pedido.nomeCompleto %> </h4>

    <form action="/admin/editar" method="post">

        <div class= 'pedidos'>

                <div class="cont i">

                    <ul class="separator pessoais">

                        <li><label for="nome-completo">Nome Completo</label>
                        <input placeholder="Digite seu nome completo" name="nomeCompleto" type="text" maxlength="30" value="<%=pedido.nomeCompleto%>" ></li>
                        <li><label for="email">Email - </label>
                        <input type="hidden" ><%=pedido.email%></li>
                        <li><label for="cpf">CPF - </label>
                        <input type="hidden" ><%=pedido.cpf%></li>
                        <li><label for="data-nasc">Data de Nascimento - </label>
                        <input type="hidden"><%=pedido.dataNasc%></li>  

                    </ul>

                    <ul class="separator endereco">

                        <li><label for="cep">CEP</label>
                        <input onInput="mask(this, 'cep')" id="cep" type="text" placeholder="Ex.: xxxxx-xxx"  name="cep" maxlength="8" value="<%=pedido.cep%>"></li>
                        <li><label for="estado">Estado</label>
                        <input placeholder="Digite seu estado" name="estado" type="text" value="<%=pedido.estado%>"></li>
                        <li><label for="cidade">Cidade</label>
                        <input placeholder="Digite sue cidade" name="cidade" type="text" value="<%=pedido.cidade%>"></li>
                        <li><label for="bairro">Bairro</label>
                        <input placeholder="Digite seu bairro" name="bairro" type="text" value="<%=pedido.bairro%>"></li>
                        <li><label for="rua">Rua</label>
                        <input placeholder="Digite sua rua" name="rua" type="text" value="<%=pedido.rua%>" ></li>
                        <li><label for="numero">Número</label>
                        <input placeholder="Digite seu número" name="numero" type="text" value="<%=pedido.numero%>"></li>  
                        
                        <li><label for="check">Plano</label> 
                        <select name="check">

                            <option value="<%= pedido.check %>"><%= pedido.check %></option>

                            <% if(pedido.check == 'aaa'){%> 
                                <option value="aaa">bbb</option> 
                                <option value="ccc">ccc</option>
                                <%} %> 

                                <% if(pedido.check == 'bbb'){%> 
                                    <option value="aaa">aaa</option> 
                                    <option value="ccc">ccc</option>
                                    <%} %> 

                                    <% if(pedido.check == 'ccc'){%> 
                                        <option value="aaa">aaa</option> 
                                        <option value="ccc">bbb</option>
                                        <%} %> 
                            
                            
                            
                         </select>

                    </ul>

                </div>

                
        </div>

        <button type="submit" class="submit">
            submit
        </button>

    
    </form>
            
        </div>
</body>
</html>