<!DOCTYPE html>
<html lang="pt-BR">

<%- include('../parts/page-head', { title : 'Login ADM', linkCSS : '../css/suportes.css'}) %>

<body>

    <%- include('../parts/page-headerAdm') %>

    <h2>Suporte dos usuários</h2>

    <div class= 'pedidos'>

        <% suportes.forEach(suporte => { %>
        
            <div class="suporte">

                <p>ID - <%= suporte._id %> </p> 
                <p>Email - <%= suporte.email %> </p>
                <p>Conteúdo - <%= suporte.suporteTxt %> </p>
                <p>Criado em - <%= suporte.createdAt %> </p>

            </div>

        <% }) %>

    </div>

</body>

</html>