<!DOCTYPE html>
<html lang="pt-BR">

<%- include('../parts/page-head', { title : 'Login ADM', linkCSS : '../css/suportes-user.css'}) %>
<%- include('../parts/page-headerAdm') %>
<body>

    <div class="container suportes">
        
<div class="content-sup">
    <h1>Suporte dos usuários</h1>

    <div class= "suportes">

        <% suportes.forEach(suporte => { %>
        
            <div class="suporte">

                <p>ID - <%= suporte._id %> </p> 
                <p>Email - <%= suporte.email %> </p>
                <p>Conteúdo - <%= suporte.suporteTxt %> </p>
                <p>Criado em - <%= suporte.createdAt %> </p>

            </div>

        <% }) %>

    </div>

</div>
    

</div>

    

</body>

</html>